*.o
*.pc
*.so

/chibi-scheme
/chibi-scheme-static
/include/chibi/install.h
/lib/chibi/filesystem.c
/lib/chibi/io/io.c
/lib/chibi/net.c
/lib/chibi/process.c
/lib/chibi/stty.c
/lib/chibi/system.c
/lib/chibi/time.c

/debian/chibi-scheme
/debian/chibi-scheme-dev
/debian/tmp
/debian/*.log
/debian/*.substvars
/debian/files
