#!/usr/bin/make -f
# -*- makefile -*-
#export DH_VERBOSE=1
export CC?=gcc

%:
	dh $@

export VERSION := $(shell dpkg-parsechangelog | awk '/^Version:/{print $$2};')
export DESTDIR := debian/tmp
export PREFIX := /usr

override_dh_auto_build:
	$(MAKE) all

override_dh_auto_install:
	$(MAKE) install
