#!/usr/bin/make -f
# -*- makefile -*-
export DH_VERBOSE=1
export CC?=gcc
export CXX?=g++
export CPPFLAGS+=-D_FORTIFY_SOURCE=2
export CFLAGS+=-g3 -O2 -fPIC -fstack-protector --param=ssp-buffer-size=4
export CXXFLAGS+=$(CFLAGS)
export LDFLAGS+=-Wl,-z,relro

%:
	dh $@

export VERSION := $(shell dpkg-parsechangelog | awk '/^Version:/{print $$2};')
export DESTDIR := debian/tmp
export PREFIX := /usr

override_dh_auto_build:
	$(MAKE) all

override_dh_auto_install:
	$(MAKE) install
